{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} Create User {% endblock %}

{% block body %}

<div class="container">
    <div>
        <div class="col-md-2"> User List</div>
    </div>
    <div>
        <table class="table"> 
            <tr>
                <td>First Name</td>
                <td><input type="text" name="first_name" class="form-control"/></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="last_name" class="form-control"/></td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}